

<h1 class="text-center"><%= "Category:" + @category.name %></h1>
<div class="text-center">

<% if logged_in? && current_user.admin? %>
  <div class="row">
    <div class="col-xs-offset-6 col-xs-6">
      <span class="badge badge_design2 "><%= link_to "Edit Category", edit_category_path(@category) %> </span>
    </div>
  </div>
  <div class="row">
    <p></p>
  </div>
<% end %>
<%= will_paginate @category_articles, renderer: BootstrapPagination::Rails %>
</div>
<%= render 'articles/article', obj: @category_articles %>
<div class="text-center">
<%= will_paginate @category_articles, renderer: BootstrapPagination::Rails %>
</div>
